<% title "Edit Use Case" %>

<% form_for @use_case do |f| %>
	<p><%= f.text_area :test_cases, :size => "80x40" %></p>
  <p><%= f.submit "Enviar" %> o <%= link_to "Volver", use_cases_path %></p>
<% end %>

<% begin %>
	<% unless @use_case.ppee_test.nil? %>
		<div>
			<%= render :partial => 'testrunner' %>
		</div>
	<% end %>
<% rescue %>
	<p>Hay errores en la generación de la plantilla xml</p>
<% end %>