<% title "Use Cases" %>

<% FunctionalArea.all.sort_by{|a| - a.use_case_diagrams.count }.each do |area| %>
	<h3 style="clear:both;"><%= area.name %></h3>
	<% area.use_case_diagrams.sort_by{|d| - d.use_cases.count }.in_groups_of(2, false).each do |group| %>
	  <% group.each do |diagram| %>
		  <div style="width:40%;float:left" class='box'>
				<strong><%= diagram.name %></strong>
				<ul style='list-style-type:none;'>
					<% diagram.use_cases.all.each do |use_case| %>
					  <% @style = "text-decoration: none;"
					     @style += 'color:red' if use_case.test_cases.nil? %>
						<li><%= link_to use_case.name, use_case.test_cases.blank? ? edit_use_case_path(use_case) : use_case, :style => @style  %></li> 
					<% end %>
				</ul>
			</div>
		<% end %>
		<div style="clear:both;"></div>
	<% end %>
<% end %>

<%= link_to 'Nuevo requerimeinto', new_use_case_path %>
