- content_tag_for :li, requirement do
  %span= requirement.name
  %a.expand= requirement.use_cases.count
  %ul.internal_list
    - requirement.use_cases.each do |u|
      %li{:id => "inner_requirement_#{u.id}"}
        %span= u.name
        %a.destroy