production:
  adapter: mysql
  database: omnibus-pro
  host: 127.0.0.1
  username: root
  password:

development:
  adapter: mysql
  database: omnibus-des
  host: 127.0.0.1
  username: root
  password:

redmine:
  adapter: mysql
  database: redmine
  host: 127.0.0.1
  username: root
  password: 